<h1> <%= @title %> </h1>
<ul>
<% flash[:errors] && flash["errors"].each do |error| %>
 <li><%= error %></li>
 <%end%>
</ul>
<br>
<form action="<%= cats_url %>" method="post">
  <% if @cat.persisted? %>
    <input type="hidden" value="patch">
  <%end%>
  <p>
    Name: &nbsp
  <input  type="text" name="cat[name]" value = <%= @cat.name %>>
    Date: &nbsp
  <input type="date" name="cat[birth_date]" value=<%= @cat.birth_date %>>
    Color: &nbsp
  <select name="cat[color]" >
    <% ["gray", "orange", "black", "white", "calico", "turtoise_shell", "brown"].each do |color| %>
    <option <%= "selected" if color == @cat.color %> value=<%=color%>><%=color.capitalize%></option>
    <% end %>
  </select>
     Sex: &nbsp
  <select name="cat[sex]">
    <% ["M", "F"].each do |sex| %>
    <option <%= "selected" if sex == @cat.sex %> value=<%=sex%>><%=sex%></option>
    <% end %>
  </select>
  </p>
  <p>
     Description: &nbsp
  </p>
  <textarea name="cat[description]" rows="8" cols="40"><%= @cat.description %></textarea>
  <p>
  <input type="submit" value= <%= @submit %>>
  </p>
</form>
